body{
    background-color:#FFE5F1 ;
}
hr{
    border-style: dotted none none;
    border-color: #ADA2FF;
    border-width: 5px;
    width: 8%;
}
img{
    height:250px;
}
h1{
    color: #0A2647;
}
h3{
    color: #0A2647;
}